---
import BaseLayout from './BaseLayout.astro';
import ReportLayoutClient from '../components/layout/ReportLayoutClient';

interface Props {
  title?: string;
  wide?: boolean;
}
const { title = 'Kundli Report | StarYaar', wide = false } = Astro.props;
---
<BaseLayout title={title}>
  <Fragment slot="head">
    <title>{title}</title>
  </Fragment>
  <ReportLayoutClient client:load wide={wide}>
    <slot />
  </ReportLayoutClient>
</BaseLayout>
